<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Work</title>
</head>
<body>
    <h1>Life Work</h1>

    <h2>"Never try to convey your idea to the audience. It is a thankless and senseless task. Show them life and they'll find within themselves the means to assess and appreciate it. Relating a person to the whole world: that is the meaning of cinema"</h2>

    <li>Ivan's Childhood - 1962</li>
    <li>Andrei Rublev - 1966</li>
    <li>Solaris - 1972</li>
    <li>Mirror - 1975</li>
    <li>Stalker - 1979</li>
    <li>Nostalghia - 1983</li>
    <li>The Sacrifice - 1986</li>

    <img src="/images/stalker.png" class="coisas" />
    <a href="/home">Back to homepage</a>
</body>
</html>